* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdf7e5;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.home-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
}

.order-item {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.order-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.potato-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.audio-btn {
    background-color: #95a5a6;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.accept-btn, .reject-btn {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.accept-btn {
    background-color: #ff1900;
    color: white;
}

.reject-btn {
    background-color: #000000;
    color: white;
}
