* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f3db;
}

.header {
    background-color: #b00000;
    padding: 20px;
    color: white;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    color: #000;
    margin-bottom: 20px;
}

.back-button {
    background-color: #b00000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    padding: 15px;
    text-align: left;
    margin-left: 5%;
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.product-details p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.product-details p strong {
    font-weight: bold;
}

.audio-button {
    background-color: #9e9e9e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    display: block;
    width: 100%;
}
